Adafruit-Blinka==8.10.0
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-dht==3.7.8
adafruit-circuitpython-requests==1.12.11
adafruit-circuitpython-typing==1.8.3
Adafruit-PlatformDetect==3.38.0
Adafruit-PureIO==1.1.9
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-InfluxDB==0.3.1
idna==2.9
influxdb==5.2.2
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pkg_resources==0.0.0
pyftdi==0.54.0
pyserial==3.5
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
pyusb==1.2.1
requests==2.23.0
rpi-ws281x==4.3.4
RPi.GPIO==0.7.1
six==1.14.0
sysv-ipc==1.1.0
typing_extensions==4.4.0
urllib3==1.25.8
uWSGI==2.0.18
Werkzeug==1.0.0
